<section class="phx-hero">
  <h1>Monkeypad</h1>
</section>

<section class="col">
  <h1>Page</h1>
  <h2>Content: <%= @content %></h2>
  <%= f = form_for :page_form, "#", 
    id: "content_id"
  %>

    <%= text_input f, :content, value: @content, phx_change: :change_page, phx_debounce: "blur" %>
</section>
